<div style="text-align:left; border-bottom: 2px solid #444; padding:10px; background-color:#{{background}};" class="type_{{class}}">
    <div style="text-align:left;margin:0 0 10px 0;padding:0px;">
        <pre style="color:#{{type_color}}; white-space: pre-wrap;">{{message}}</pre>
    </div>
    <p style="text-align:left;font-family:Sans, sans-serif;margin:0px;">
        <small style="font-size:12px;">{{date_time}}: {{type}} | 
            <span title="{{file}}">{{file_short}}</span>: {{line}}
        </small>
    </p>
</div>