#cdebugOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #000;
    display: none;
    z-index: 90;
}

#cdebugToggle,
#cdebugPanel {
    font-family: Sans, sans-serif;
}

#cdebugToggle {
    background-color: white;
    border-radius: 2px 0 0 0;
    bottom: 0;
    right: 0;
    border-top:  1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #222;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    position: fixed;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    z-index: 92;
}

.cdebugToggleTag {
    border-radius: 6px 6px 6px 6px;
    font-size: 10px;
    font-weight: normal;
    padding: 1px 4px;
}

.cdebugToggleTag.cdtttError   { background-color: #F66; }
.cdebugToggleTag.cdtttWarning { background-color: #FB4; }

#cdebugPanel {
    position: fixed;
    width: 800px;
    background: #222;
    color: #fff;
    right: -750px;
    bottom: 0;
    display: none;
    border-radius: 2px 0 0 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    z-index: 91;
}

#cdebugPanel .navigation {
    width: 100%;
    background: #fff;
    padding: 4px 0;
    line-height: 20px;
}

#cdebugPanel .navigation a {
    color: #000000;
    padding: 6px 10px 7px 10px;
    text-decoration: none;
}

#cdebugPanel .navigation a:hover {
    background-color: transparent;
}

#cdebugPanel .navigation a.selected {
    background-color: #222222;
    border-radius: 2px 2px 0 0;
    color: white;
    font-weight: bold;
    outline: none;
}

#cdebugPanel div.content {
    display: none;
    overflow: auto;
    width: 100%;
    height: 97%;
    font-size: 14px;
}

#cdebugPanel div.content.log {
    display: block;
}

#cdebugPanel div.content .spacer {
    padding: 10px;
}

#cdebugPanel div.content pre {
    font-family: "Monospace", monospace;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #fff;
}